
.bg-orange{
    background-color: #F28907;
}
.bg-red{
    background-color: #BF0426;
}
.bg-green{
    background-color: #135d13;
}

.floating-button{
    position: fixed;
    bottom: 100px;
    left: 30px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.767);
    z-index: 100;
}


